* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border-radius: 15px;
    width: 250px;
    height: 45px;
    border-width: 3px;
    margin: 15px 5px 0 15px;
}

button {
    color: aliceblue;
    background-color: black;
    border-radius: 20px;
    width: 100px;
    height: 45px;
}

ul, li {
    margin: 15px;
    list-style: none;
    text-decoration: none;
    font-size: large;
}